@import 'menu.css';
@import 'burger.css';
@import 'search.css';

.header {
    grid-area: header;
}

.header__upper {
    background-color: #fbfbfb;
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    padding: 6px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
}

.header__logo {
    display: block;
    width: 200px;
    height: 17px;
    background: url(../img/logo_333_o.svg) no-repeat;
}

.header__lower {
    width: 100vw;
    box-sizing: border-box;
    height: 45px;
    padding: 15px 32px;
    border-bottom: 1px solid #eaeaea;
}

@media screen and (min-width: 760px) {

}

@media screen and (min-width: 1020px) {

}