@import 'header.css';
@import 'content.css';
@import 'footer.css';
@import 'social.css';
@import 'card.css';
@import 'button.css';
@import 'author.css';
@import 'post.css';


/* page */

html {
  
}

.page {
  min-height: 100%;
  margin: 0;
  position: relative;
  display: grid;
  grid-template-rows: 94px minmax(calc(100vh - 174px), max-content) 48px;
  grid-gap: 16px;
  grid-template-areas: 
  "header"
  "content"
  "footer";
  font-family: Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  font-style: normal;
  overflow-x: hidden;
}

.content {
  padding: 0 16px;
}

.outline {
  position: absolute;
  left: -9999em;
}

.back-to-top {
  position: fixed;
}

.link {
  text-decoration: none;
  color: inherit;
}

.reads {
  color: #999;
  font-weight: normal;
}

.reads::before {
  content: '';
  display: inline-block;
  width: 1.2em;
  height: 0.7em;
  background: url(../img/eye_gr_130x70.svg) no-repeat;
  background-size: contain;
  margin-right: 4px;
}

.cards {
  box-sizing: border-box;
  width: min-content;
  margin: 0 auto 16px;
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 1fr;
}

.blog {
  margin-bottom: 3em;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 16px;
  grid-template-columns: 1fr;
  grid-template-areas: 'aside'
  'post'
  'blank';
}

.post {

}

.more {
  grid-area: post;
}

.continue {
  /* font-size: 1.2em; */
  font-weight: normal;
  color: #0081c2;
}

.continue:visited {
  color: #0081c2;
}

.continue:hover {
  color: #c24100;
}

@media screen and (min-width: 624px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 928px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1020px) {
  .content {
    padding: 0 32px;
  }

  .blog {
    grid-auto-flow: row;
    grid-template-columns: 200px 1fr;
    grid-template-areas: 'aside post';
  }


}

@media screen and (min-width: 1200px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
  
  .blog {
    grid-template-columns: 200px 1fr 180px;
    grid-template-areas: 'aside post blank';
  }
}